<div class="card-container">
  <div class="card" routerLink="/day1">
    <h2>day 1</h2>
    <p>Click to navigate to Page 1</p>
  </div>
  <div class="card" routerLink="/day2">
    <h2>day 2</h2>
    <p>Click to navigate to Page 2</p>
  </div>
  <div class="card" routerLink="/day3">
    <h2>day 3</h2>
    <p>Click to navigate to Page 2</p>
  </div>
  <div class="card" routerLink="/day4">
    <h2>day 4</h2>
    <p>Click to navigate to Page 4</p>
  </div>
  <div class="card" routerLink="/day5">
    <h2>day 5</h2>
    <p>Click to navigate to Page 4</p>
  </div>
  <div class="card" routerLink="/productList">
    <h1>Day-8</h1>
    <h2>Product list</h2>
    <p>click to navigate</p>
  </div>
  <div class="card" routerLink="/productSummary">
    <h1>Day-8</h1>
    <h2>Product summary</h2>
    <p>click to navigate</p>
  </div>
</div>
